body {
    font-family: "Comic Sans MS", cursive;
    margin: 0;
    padding: 0;
    background-color: #696969;
}

.navbar {
    background-color: #5A5A5A;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    color: #ffffff;
    font-size: 30px;
    text-decoration: none;
}

.navbar-menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    margin-right: 20px;
}

.navbar-menu li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 22px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 380px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    margin: auto;
    margin-top: 50px; /* Úprava pro vertikální zarovnání */
}

.title {
    font-size: 28px;
    color: #696969;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: -15px;
    cursor: pointer;
    font-size: 16px;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 12px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ccc;
    border-radius: 3px;
}

.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: #696969;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
/*
.title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: green;
}

.title::before {
    width: 18px;
    height: 18px;
    background-color: limegreen;
}

.title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}
*/
.message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
}

.signin {
    text-align: center;
}

.signin a {
    color: royalblue;
}

.signin a:hover {
    text-decoration: underline royalblue;
}

.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}

.form label {
    position: relative;
}

.form label .input {
    width: 90%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

.form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
}

.form label .input:valid + span {
    color: green;
}

.submit {
    border: none;
    outline: none;
    background-color: #696969;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
}

.submit:hover {
    background-color: rgb(56, 90, 194);
    cursor: pointer;
}

p {
    font-weight: bold;
}

a {
    color: #f0f0f0;
    text-decoration: none;
}
.change-text:hover{
    content: "Logout";
}

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}

@media screen and (max-width: 768px) {

    .register-container{
        width:90%;
    }
    /*Upraveno*/
    .navbar {
        flex-direction: column; /* Menu se bude řadit ve sloupcích */
        align-items: flex-start; /* Položky budou zarovnány nalevo */
        width: 90%;
    }

    .navbar-menu {
        margin-top: 10px; /* Odsazení mezi jednotlivými položkami */
    }

    .navbar-menu li {
        margin: 5px 10px; /* Odsazení mezi jednotlivými položkami */
    }

    .navbar-menu li a {
        font-size: 12px; /* Zvětšení velikosti písma pro mobilní zařízení */
    }
}